:root {
    --box-shadow: 0px 0px 30px 0px #f1dbdbec;
}

* {
    color: white;
    margin: 20px;
}

body {
    margin: auto;
    background: 
        linear-gradient(20deg, #237658, #5e8058 70%, #79a78a);
    background-attachment: fixed;
    
}


div {
    margin: auto;
}

p {
    text-align: center;
}


#title {
    font-size: 40px;
    margin: auto;
    align-self: center;
    box-shadow: var(--box-shadow);
    margin-bottom: 40px;

}

#main {
    margin: auto;
}

button {
    box-shadow: var(--box-shadow);
    
    font-size: 15px;
    padding-left: 5px;
    padding-left: 5px;
    border-radius: 30px;
    border-color: white;
    background: linear-gradient(20deg, #42ad86, #5e8058 70%, #063618);

    transition: all 0.6s;
    font-size: var(--basic-font-size);
}

button:hover {
    transform: scale(1.05);
}

img {
    max-height: 200px;

    
    transition: all 0.6s;
    font-size: var(--basic-font-size);
}

img:hover {
    transform: scale(1.05);
}